/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, rgb(255, 252, 95), #feb47b);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.photo {
    width: 30vw;
    max-width: 150px;
    height: 30vw;
    max-height: 150px;
    margin: 10px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: zoomInOut 5s infinite;
}

@keyframes zoomInOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.animation-container {
    position: relative;
    width: 100%;
    height: 20vh;
}

.balloon {
    position: absolute;
    bottom: -100px;
    width: 30px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50% 50% 50% 50%;
    animation: floatUp 5s ease-in-out infinite;
}

.balloon:nth-child(2) {
    left: 20%;
    animation-duration: 4s;
}

.balloon:nth-child(3) {
    left: 40%;
    animation-duration: 6s;
}

.balloon:nth-child(4) {
    left: 60%;
    animation-duration: 3.5s;
}

.balloon:nth-child(5) {
    left: 80%;
    animation-duration: 5.5s;
}

@keyframes floatUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-1000px); }
}

.cake-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cake {
    width: 20vw;
    max-width: 100px;
    margin: 10px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(-15px); }
}

/* Responsive Design */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .photo {
        width: 40vw;
        height: 40vw;
    }

    .cake {
        width: 30vw;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.2em;
    }

    .photo {
        width: 30vw; /* Increase width for smaller screens */
        height: 30vw; /* Increase height for smaller screens */
        margin-top: 5%;
    }

    .cake {
        width: 20vw;
        margin-top: 5px;
    }
    .container{
        margin-top: 15%;
        padding-top: 5%;
    }
    body{
        height: 100%;
    }
    .cake-container{
        margin-top: 1%;
    }
}
